/*lab5style.css*/
/*author: Jack Reynolds*/
/*written: 6 November 2022*/

/*INDEX STYLING BELOW*/

body.landing 
{ 
    background-color: lightsteelblue; 
} 

h1.landing
{
    color: purple;
    font-family: verdana;
    font-size: 30pt; 
}

p.landing
{
    font-family: verdana;
    font-size: 14pt; 
}

/*PART 3 STYLING BELOW*/

/* Courtesy of w3Schools */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

body.tofupupper 
{ 
    background-color: lightsteelblue; 
} 

h1.tofupupper 
{ 
    color: hotpink;
    font-family: verdana;
    font-size: 30pt; 
}

p.tofupupper
{ 
    font-family: verdana; 
    font-size: 14pt; 
}

p.tofupupper_small
{ 
    font-family: verdana; 
    font-size: 10pt; 
}

