/* Courtesy of w3Schools */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

body.tofupupper 
{ 
    background-color: lightsteelblue; 
} 

h1.tofupupper 
{ 
    color: hotpink;
    font-family: verdana;
    font-size: 30pt; 
}

p.tofupupper
{ 
    font-family: verdana; 
    font-size: 14pt; 
}

p.tofupupper_small
{ 
    font-family: verdana; 
    font-size: 10pt; 
}

